{% extends "base.html" %}
{% load static %}
{% load materializecss %}
{% block title %}{{ post }}{% endblock %}

{% block body_middle %}
    <div class="card">
        {% if post.image %}
            <div class="card-image">
                <img class="card-img-top" src="{{ post.image.url }}" alt="Card image cap">
            </div>
        {% endif %}
        <div class="card-content">
            <div class="user-post">
                {% if post.user_profile.image %}
                    <img src="{{ post.user_profile.image.url }}" height="50" width="50" class="circle"/>
                {% else %}
                    <img src="{% static "images/user_icon.jpg" %}" height="50" width="50" class="circle"/>
                {% endif %}
            </div>
            <div class="user-post">
                <a href="{% url "accounts:profile" post.user %}" class="user-link">{{ post.user }}</a><br>
                <span class="grey-text text-darken-1 ultra-small user-date">{{ post.timestamp|date:"N j, Y, P" }}</span>
            </div>
            <div style="clear: both;"></div>
            <span class="card-title">{{ post.title }}</span>
            <p class="post-text">{{ post.context }}</p>
            {% if is_post_owner %}
                <div class="right-align">
                    <a href="{% url "posts:post_edit" post.slug %}">Edit </a> |
                    <a href="{% url "posts:post_delete" post.slug %}" class="red-text"> Remove</a>
                </div>
            {% endif %}
        </div>
    </div>

    <br>
    <form method="post">
        {% csrf_token %}
        {{ form|materializecss }}
        <button type="submit" class="btn btn-outline-primary btn-block">Add comment</button>
    </form>
    <br>

    {% if comments %}
        <br>
        {% for comment in comments %}
            <div class="card">
                <div class="card-content">
                    <div class="user-post">
                        {% if comment.user_profile.image %}
                            <img src="{{ comment.user_profile.image.url }}" height="50" width="50" class="circle"/>
                        {% else %}
                            <img src="{% static "images/user_icon.jpg" %}" height="50" width="50" class="circle"/>
                        {% endif %}
                    </div>
                    <div class="user-post">
                        <a href="{% url "accounts:profile" comment.user %}" class="user-link">{{ comment.user }}</a><br>
                        <span class="grey-text text-darken-1 ultra-small user-date">{{ comment.timestamp|date:"N j, Y, P" }}</span>
                    </div>
                    <div style="clear: both;"></div>
                    <p class="post-text">{{ comment }}</p>

                    {% if comment.user == request.user %}
                        <div class="right-align">
                            <a href="{% url "posts:comment_edit" post.slug comment.id %}">Edit </a> |
                            <a href="{% url "posts:comment_delete" post.slug comment.id %}" class="red-text"> Remove</a>
                        </div>
                    {% elif is_post_owner %}
                        <div class="right-align">
                            <a href="{% url "posts:comment_delete" post.slug comment.id %}" class="red-text"> Remove</a>
                        </div>
                    {% endif %}

                </div>
            </div>
        {% endfor %}
    {% endif %}




{% endblock %}